USE [master]
GO
/****** Object:  Database [QLDT]    Script Date: 20/04/2023 14:41:36 ******/
CREATE DATABASE [QLDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDT', FILENAME = N'D:\SQL2014\DB\QLDT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDT_log', FILENAME = N'D:\SQL2014\DB\QLDT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDT]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ds_mon_se_hoc]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Do Duy Cop
-- Create date: 20.4.23
-- Description:	tao ds mon cua 1 sv se hoc
-- =============================================
CREATE FUNCTION [dbo].[fn_ds_mon_se_hoc]
(
	@masv varchar(13),
	@n int =2  -- số môn tối đa trong 1 đợt mà sv đc phép học cùng lúc
)
RETURNS 
@KQ TABLE
(
	mamon varchar(7)
)
AS
BEGIN
	with T as(
		select distinct H.MaMon,  C.STT
		from HocTap H join SV S on (H.masv=S.masv)and(S.masv=@masv)and(H.maTT=1 or H.maTT=5)
		              join Nganh N on N.maNganh=S.maNganh
					  join ChiTiet C on (C.manganh=N.maNganh)and(C.mamon=H.maMon)
	)
	insert into @KQ(mamon)
		select top (@n) maMon 
		from T 
		order by T.STT;	
	
	RETURN 
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_ds_sv_se_hoc]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Do Duy Cop
-- Create date: 20.4.23
-- Description:	tao ds mon cua 1 sv se hoc
-- =============================================
CREATE FUNCTION [dbo].[fn_ds_sv_se_hoc]
(
	@maMon varchar(7),
	@n int
)
RETURNS 
@KQ TABLE
(
	masv varchar(13)
)
AS
BEGIN
	with T as(
		select S.masv, H.MaMon, C.STT
		from HocTap H join SV S on H.masv=S.masv and H.maMon=@maMon
					join Nganh N on N.maNganh=S.maNganh
					join ChiTiet C on C.manganh=N.maNganh and C.mamon=H.maMon
		where (H.maTT=1 or H.maTT=5)
			and(H.maMon in (select maMon from dbo.fn_ds_mon_se_hoc(S.masv,@n)))
	)
	insert into @KQ(masv)
		select masv
		from T
		order by T.STT;

	RETURN 
END

GO
/****** Object:  Table [dbo].[ChiTiet]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTiet](
	[manganh] [int] NOT NULL,
	[mamon] [varchar](7) NOT NULL,
	[STT] [int] NULL,
 CONSTRAINT [PK_ChiTiet] PRIMARY KEY CLUSTERED 
(
	[manganh] ASC,
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dot]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dot](
	[maDot] [char](5) NOT NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
 CONSTRAINT [PK_Dot] PRIMARY KEY CLUSTERED 
(
	[maDot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocTap]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocTap](
	[masv] [varchar](13) NOT NULL,
	[maMon] [varchar](7) NOT NULL,
	[maTT] [int] NOT NULL CONSTRAINT [DF_HocTap_maTT]  DEFAULT ((1)),
	[Diem] [float] NULL,
 CONSTRAINT [PK_HocTap] PRIMARY KEY CLUSTERED 
(
	[masv] ASC,
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop](
	[maLop] [int] IDENTITY(1,1) NOT NULL,
	[maMon] [varchar](7) NULL,
	[maDot] [char](5) NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[maLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonHoc](
	[maMon] [varchar](7) NOT NULL,
	[tenMon] [nvarchar](50) NULL,
	[STC] [int] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[maNganh] [int] NOT NULL,
	[tenNganh] [nvarchar](500) NULL,
 CONSTRAINT [PK_Nganh] PRIMARY KEY CLUSTERED 
(
	[maNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SV]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SV](
	[masv] [varchar](13) NOT NULL,
	[họten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[GT] [bit] NULL,
	[maNganh] [int] NULL,
	[maDot] [char](5) NULL,
 CONSTRAINT [PK_SV] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[maTT] [int] NOT NULL,
	[tenTT] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[maTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTiet] ([manganh], [mamon], [STT]) VALUES (1, N'mon0001', 1)
GO
INSERT [dbo].[ChiTiet] ([manganh], [mamon], [STT]) VALUES (1, N'mon0002', 2)
GO
INSERT [dbo].[ChiTiet] ([manganh], [mamon], [STT]) VALUES (1, N'mon0003', 3)
GO
INSERT [dbo].[HocTap] ([masv], [maMon], [maTT], [Diem]) VALUES (N'sv1', N'mon0001', 1, NULL)
GO
INSERT [dbo].[HocTap] ([masv], [maMon], [maTT], [Diem]) VALUES (N'sv1', N'mon0002', 1, NULL)
GO
INSERT [dbo].[HocTap] ([masv], [maMon], [maTT], [Diem]) VALUES (N'sv1', N'mon0003', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Lop] ON 

GO
INSERT [dbo].[Lop] ([maLop], [maMon], [maDot], [SL]) VALUES (1, N'mon0002', N'20231', 10)
GO
INSERT [dbo].[Lop] ([maLop], [maMon], [maDot], [SL]) VALUES (2, N'mon0003', N'20231', 10)
GO
INSERT [dbo].[Lop] ([maLop], [maMon], [maDot], [SL]) VALUES (3, N'mon0001', N'20231', 9)
GO
SET IDENTITY_INSERT [dbo].[Lop] OFF
GO
INSERT [dbo].[MonHoc] ([maMon], [tenMon], [STC]) VALUES (N'mon0001', N'A', 2)
GO
INSERT [dbo].[MonHoc] ([maMon], [tenMon], [STC]) VALUES (N'mon0002', N'B', 2)
GO
INSERT [dbo].[MonHoc] ([maMon], [tenMon], [STC]) VALUES (N'mon0003', N'C', 3)
GO
INSERT [dbo].[Nganh] ([maNganh], [tenNganh]) VALUES (1, N'Kỹ thuật Điện dân dụng')
GO
INSERT [dbo].[Nganh] ([maNganh], [tenNganh]) VALUES (2, N'Kỹ thuật Xây Dựng')
GO
INSERT [dbo].[Nganh] ([maNganh], [tenNganh]) VALUES (3, N'Kỹ thuật máy tính')
GO
INSERT [dbo].[SV] ([masv], [họten], [ngaysinh], [GT], [maNganh], [maDot]) VALUES (N'sv1', N'x1', NULL, NULL, 1, NULL)
GO
INSERT [dbo].[SV] ([masv], [họten], [ngaysinh], [GT], [maNganh], [maDot]) VALUES (N'sv10', N'x10', NULL, NULL, 3, NULL)
GO
INSERT [dbo].[SV] ([masv], [họten], [ngaysinh], [GT], [maNganh], [maDot]) VALUES (N'sv2', N'x2', NULL, NULL, 1, NULL)
GO
INSERT [dbo].[TrangThai] ([maTT], [tenTT]) VALUES (1, N'Chưa học, Phải học')
GO
INSERT [dbo].[TrangThai] ([maTT], [tenTT]) VALUES (2, N'Đã Quy Đổi điểm')
GO
INSERT [dbo].[TrangThai] ([maTT], [tenTT]) VALUES (3, N'Đang học')
GO
ALTER TABLE [dbo].[ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_MonHoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[MonHoc] ([maMon])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTiet] CHECK CONSTRAINT [FK_ChiTiet_MonHoc]
GO
ALTER TABLE [dbo].[ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_Nganh] FOREIGN KEY([manganh])
REFERENCES [dbo].[Nganh] ([maNganh])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChiTiet] CHECK CONSTRAINT [FK_ChiTiet_Nganh]
GO
ALTER TABLE [dbo].[HocTap]  WITH CHECK ADD  CONSTRAINT [FK_HocTap_MonHoc] FOREIGN KEY([maMon])
REFERENCES [dbo].[MonHoc] ([maMon])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HocTap] CHECK CONSTRAINT [FK_HocTap_MonHoc]
GO
ALTER TABLE [dbo].[HocTap]  WITH CHECK ADD  CONSTRAINT [FK_HocTap_SV] FOREIGN KEY([masv])
REFERENCES [dbo].[SV] ([masv])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HocTap] CHECK CONSTRAINT [FK_HocTap_SV]
GO
ALTER TABLE [dbo].[HocTap]  WITH CHECK ADD  CONSTRAINT [FK_HocTap_TrangThai] FOREIGN KEY([maTT])
REFERENCES [dbo].[TrangThai] ([maTT])
GO
ALTER TABLE [dbo].[HocTap] CHECK CONSTRAINT [FK_HocTap_TrangThai]
GO
ALTER TABLE [dbo].[SV]  WITH CHECK ADD  CONSTRAINT [FK_SV_Nganh] FOREIGN KEY([maNganh])
REFERENCES [dbo].[Nganh] ([maNganh])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SV] CHECK CONSTRAINT [FK_SV_Nganh]
GO
ALTER TABLE [dbo].[SV]  WITH CHECK ADD  CONSTRAINT [FK_SV_SV] FOREIGN KEY([maDot])
REFERENCES [dbo].[Dot] ([maDot])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SV] CHECK CONSTRAINT [FK_SV_SV]
GO
/****** Object:  StoredProcedure [dbo].[SP_MoLop]    Script Date: 20/04/2023 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Do Duy Cop
-- Create date: 20.4.23
-- Description:	ds lop se mo -> $$$
-- =============================================
CREATE PROCEDURE [dbo].[SP_MoLop]
    @action nvarchar(50),
	@MinSL int= 20,
	@MaxLop int =4,
	@maDot char(5)=null
AS
BEGIN
	if(@action='List_Lop')
	begin
		with T as (
			select H.MaMon,count(H.maMon) as SL
			from HocTap H join SV S on H.masv=S.masv
			where (H.maTT=1 or H.maTT=5)
				  AND H.MaMon in (select mamon from DBO.fn_ds_mon_se_hoc(S.masv,@MaxLop))
			group by H.MaMon
			having count(*)>=@minSL
		)

		select M.mamon as [Mã môn],
			   M.tenMon as [Tên môn],
			   M.STC,
			   T.SL  as [Sĩ Số lớp]
		from T join MonHoc M on T.maMon=M.maMon
		order by SL desc;
	end
	else if(@action='Mo_Lop')
	begin
		with T as(
			select H.MaMon,count(H.maMon) as SL
			from HocTap H join SV S on H.masv=S.masv
			where (H.maTT=1 or H.maTT=5)
				  AND H.MaMon in (select mamon from DBO.fn_ds_mon_se_hoc(S.masv,@MaxLop))
			group by H.MaMon
			having count(*)>=@minSL
		)
		insert into Lop(MaMon,MaDot,SL)
		select T.maMon,@maDot,T.SL
		from T 
		where MaMon not in (select MaMon From Lop where maDot=@maDot)
		order by T.SL desc;

		--with T as(
		--	select H.MaMon,count(H.maMon) as SL
		--	from HocTap H join SV S on H.masv=S.masv
		--	where (H.maTT=1 or H.maTT=5)
		--		  AND H.MaMon in (select mamon from DBO.fn_ds_mon_se_hoc(S.masv,@MaxLop))
		--	group by H.MaMon
		--	having count(*)>=@minSL
		--)
		--insert into Lop(MaMon,MaDot)
		--select MaMon,@MaDot
		--From T;
	end
END

GO
USE [master]
GO
